/*gen styles.*/

Html{
	
}

Section {
	Height: 100vh;

}

body {

  background-color: #F2EEEB;

    font-family: Times New Roman, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", serif;
	font-size: 17px;
line-height: normal;
	Width:100%;
	Height: 100%
	Margin: 0px;
	color: #000;
}

.container {
  display: flex;
	justify-content: space-between;


  margin: 0 0 0 10px;
  padding: 0 0 0 20px;

}



#info {
	width: 100%;

}

/*text styles.*/
a {
	color: #000;
	font-size: 17px;
}
a:link {
	text-decoration: none;
	color: #000;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

a.active {
	text-decoration: bold;

}


h1 {

font-family: Times New Roman, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", serif;
	font-size: 17px;
	font-style: italic;
}

h2 {

font-family: Times New Roman, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", serif;
	font-size: 17px;

}

/* navigation */
.nav {
Height:30px;
position: fixed;

background: linear-gradient(0deg,rgb(242, 238, 235,0),rgb(242, 238, 235,1) 34%);
top: 0;
left: 0;
z-index: 90;
width: 100%;

Padding: 22px;


  }


.nav a:hover {
  color: #FFFFFF;
}

.nav a.active {
	font-weight: bold;
	color: #000;;
}

/*gallery*/

.gallery {
    width: 97.5%;
	height:800px;
	Margin: 0px 0px 30px 50px;
Overflow: hidden;

}
.gallery-container {
    width: 2000px;
left: 20px;
}


.swiper {
    width: 100%;

}

.swiper-slide {
    display: flex;
    justify-content: left;
    align-items: left;
	width: 100%;

}

.swiper-slide img {
    width: 1200px;
	max-height:850px;
    object-fit: cover;
}

.swiper-navigation {
	
	width:1200px;

}
.swiper-button-next,.swiper-button-prev{
position: absolute;
top: 0 !important;
width: 600px !important;
height: 100% !important;
margin-top: 0;
z-index: 10;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
color: grey !important;
Opacity: 0%;
}



.project-info {

Margin-left: 50px;
Width: 1195px;
Min-height:930px;

}




