
/* General Code */

html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-snap-margin: 70px;
}

body {
    background: #F2EEEB;
    font-family: "Times New Roman", Baskerville, "Palatino Linotype", Palatino, serif;
    font-size: 17px;
    line-height: 1.5;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: #000;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
	width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 0 20px 0 20px;
}

#info {
    width: 100%;
}

/* Typography */

a {
    color: #000;
    font-size: 17px;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

h1,
h2 {
    font-family: "Times New Roman", Baskerville, "Palatino Linotype", Palatino, serif;
    font-size: 17px;
}

h1 {
    font-style: italic;
}

/* Navigation */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 22px;
    z-index: 90;
    background: linear-gradient(
        0deg,
        rgba(242,238,235,0),
        rgba(242,238,235,1) 20%
    );
}

.nav a.active {
    font-weight: bold;
}

/* Gallery */

.gallery {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.gallery-container {
    width: 100%;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.swiper-slide img {
    width: 100%;
    max-width: 1220px;
    height: auto;
    object-fit: contain;
}

.swiper-navigation {
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 0 !important;
    width: 50% !important;
    height: 100% !important;
    margin-top: 0;
    opacity: 0;
}

/* Project Info */

.project-info {
    width: 100%;
    max-width: 1250px;
    min-height: 950px;
    margin: 0;
    padding: 0 22px 0 42px;
}



/* ===========================
   Mobile
=========================== */

@media (max-width: 768px) {

    html {
        scroll-snap-type: y proximity;
    }

    body {
        font-size: 23;
    }


    .nav {
        padding: 15px;
    }

    .nav a {
        font-size: 23;
    }

    .gallery {
        width: 100%;
        margin: 20px;
    }

    .gallery-container {
        width: 100%;
margin: 20px;
    }

    .swiper-slide img {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: none;
        object-fit: contain;
    }

    
    h1,
    h2,
    a {
        font-size: 23;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 25% !important;
    }
}



