body {

  background-color: #F5F5F5;

    font-family: Times New Roman, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", serif;
	font-size: 16px;
	color: #000;
}

/* navigation */
.nav {
    position: fixed;
    bottom: 10px;
    right: 20px;
	  text-align: right;

  }

/* Style the links inside the navigation bar */
.nav a {

  text-decoration: none;
  font-size: 16px;
	padding:20px;
font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;

  text-align: right;
}

/* Change the color of links on hover */
.nav a:hover {
  color: #FFFFFF;
}

/* Add a color to the active/current link */
.nav a.active {
	text-decoration: italic;
	color: #FF760E;;
}

/*gen styles*/
a {
	font-size: 16px;
	color: #000;
}
a:link {
	text-decoration: none;
	color: #FF760E;
}
a:visited {
	text-decoration: none;
	color: #FF760E;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

a:active {
	text-decoration: none;

}

h1 {
	font-size: 18px;
font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

h2 {
	font-size: 16px;
font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

img {

  width: 600px;
}

div.main {
	width: 590px;
	margin: auto;
}

/* work menu */
.werk {
    position: fixed;
    top: 10px;
    left: 20px;
	  text-align: left;

  }
/* Style the links inside the navigation bar */
.werk a {

  text-decoration: none;
  font-size: 14px;

font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
 color: black;
  text-align: left;
}

/* Change the color of links on hover */
.werk a:hover {
  color: #FFFFFF;
}

/* Add a color to the active/current link */
.werk a.active {
	text-decoration: none;
	color: #FF760E;;
}
